{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur le test de Choosit! </h1>

</div>
{% endblock %}
